body {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

h1 {
    display: inline-flex;
    background-color: plum;
    border-radius: 50px 2px;
    border: 2px solid black;
    padding: 15px;
    text-decoration: underline black;
    text-align: center;
    color: black;
    font-family: "Snell Roundhand", "cursive";
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

p {
    margin: 40px;
    text-align: center;
    font-family: cursive;
    font-size: clamp(.6rem, 2vw, 2vw);
}

li {
    margin: 20px;
}

.heading {
    font-size: clamp(.67rem, 2vw, 2vw);
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.background {
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 370px;
    border-bottom-right-radius: 370px;
    display: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    margin: 50px;
    width: 80vw;
    background-color: blanchedalmond;
}

.lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lititle {
    text-decoration: underline black;
}

.numlist {
    margin: 40px;
    padding: 10px;
    font-size: 24px;
    font-family: cursive;
}

.ullist {
    padding: 10px;
    list-style-type: none;
    font-size: 24px;
    font-family: cursive;
}

.backbtn {
    margin: 40px;
    text-align: center;
    font-size: 24px;
    font-family: cursive;
}

h1:hover {
    background-color: palevioletred;
}

a:link {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}