body {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

h1 {
    display: inline-flex;
    background-color: plum;
    border-radius: 50px 3px;
    border: 2px solid black;
    padding: 15px;
    text-decoration: underline black;
    font-size: 42px;
    text-align: center;
    color: black;
    font-family: "Snell Roundhand", "cursive";
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
    border-radius: 50%;
    display: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    margin: 50px;
    width: 70vw;
    background-color: blanchedalmond;
}

.listitem {
    font-weight: bold;
    padding: 10px;
    list-style-type: none;
    font-size: 36px;
    font-family: "Snell Roundhand", "cursive"
}

h1:hover {
    background-color: palevioletred;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none
    ;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}